{% extends 'base.html' %}
{% load user_filters %}
{% block title %}
  {% if is_edit %}
    Редактировать запись
  {% else %}
    Добавить запись
  {% endif %}
{% endblock %}
{% block content %}
{% load thumbnail %}
  <div class="container py-5">
    <div class="row justify-content-center">
       <div class="col-md-8 p-5">
         <div class="card">
           <div class="card-header">  
             {% if not is_edit %}     
               Новый пост
             {% else %}
               Редактировать пост
             {% endif %}             
           </div>
           <div class="card-body">        
             <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="form-group row my-3 p-3">
                 <label for="id_text">
                   Текст поста                  
                   <span class="required text-danger" >*</span>                  
                 </label>
                 {% if not is_edit %}
                   <textarea name="text" cols="40" rows="10" 
                     class="form-control" required id="id_text">
                   </textarea>
                 {% endif %}            
                 {% if is_edit %}
                   {{ form.text }}
                 {% endif %}
                 <small id="id_text-help" class="form-text text-muted">
                   Текст поста
                 </small>                  
               </div>
               {% comment %}
                 группа
               {% endcomment %}            
               <div class="form-group row my-3 p-3">
                 <label for="id_group">
                   {{ form.group.label }}
                 </label>
                   {{ form.group|addclass:'form-control' }}
                 <small id="id_group-help" class="form-text text-muted">
                   Группа, к которой будет относиться пост
                 </small>
               </div>
               <div class="form-group row my-3 p-3">
                 <label for="id_image">
                   загрузите картинку
                 </label>
                  {{ form.image }}                   
               </div>
               <div class="form-video row my-3 p-3">
                 <label for="id_video">
                   вставьте ссылку на видео на youtube или vimeo   
                 </label>
                 {% load embed_video_tags %} 
                 {% video form.video "small" %}
                 {{ form.video }}
               </div>
               <div class="d-flex justify-content-end">
                 {% comment %}
                   Кнопка
                 {% endcomment %}
                 <button type="submit" class="btn btn-primary">
                   {% if is_edit %}
                     Сохранить
                   {% else %}
                     Добавить
                   {% endif %}
                 </button>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
{% endblock %}