{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="container py-5">
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li>
          Дата публикации: {{ post.created|date:"d E Y" }} 
        </li>
        <li>
          Группа: {{ post.group.title }}
        </li>
        {% if post.group != None %}
          <a href="{% url 'posts:group_list' post.group.slug %}">
            все записи группы
          </a>
        {% endif %}
        <li>
          Автор: {{ post.author }}
        </li>
        Всего постов автора:  {{ amount }}<span ><!-- --></span>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text|safe|linebreaks }}</p>
      {% load embed_video_tags %} 
      {% video post.video "small" %}
      <!-- если у поста есть группа -->  
      {% if post.author == request.user %}
        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
          редактировать запись
        </a> 
      {% endif %}
      <!-- Форма добавления комментария -->
      {% load user_filters %}

      {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}      
              <div class="form-group mb-2">
                {{ form.text|addclass:"form-control" }}
              
              
                <label for="id_video">
                  Вставьте ссылку на видео на youtube или vimeo   
                </label>
                {% load embed_video_tags %} 
                {{ form.comment_video }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      {% endif %}

      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
            <p>
              {{ comment.text }}
            </p>
            {% load embed_video_tags %} 
            <p>
              {% video comment.comment_video "small" %}
            </p>

          </div>
        </div>
      {% endfor %} 
      
    </article>
  </div>
</div>
{% endblock %}